<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <meta charset="UTF-8">
    <title>我的第一个web app</title>
</head>
<body>
<h1 align="">这是一个app功能主页</h1>
<p>下面是主页内容</p>
<a href="lookupline">have a look</a>
<br/><br/>
<a>如下是数据表</a>
<br/><br/>
<table border="1" width="100%">
<tr>
    <th>商品颜色</th>
    <th>商品数</th>
</tr>

    {% for  var  in  list  %}
<tr>
     <td>{{ var.color }}</td>
     <td>{{ var.ct }}</td>
</tr>
    {% endfor %}
</table>

</body>
</html>
