
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <style type="text/css">
    body {
        font-family: 'Helvetica Neue', Helvetica, 'Nimbus Sans L', 'Segoe UI', Arial, 'Liberation Sans', 'Source Han Sans CN', 'Source Han Sans SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, sans-serif;
        padding: 25px 50px;
    }
    </style>
    <link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Q&amp;A - QQ Groups Spider</title>
</head>

<body>
    <div>
        <a href="/myapp/qqun">返回爬虫</a>
    </div>
    <h2>Q&amp;A</h2>
    <h3>1.提交关键词后，无返回结果，且页面刷新。</h3>
    <p>腾讯限制查询频率、未扫描二维码登录或未知错误。</p>
    <h3>2.下载文件为乱码。</h3>
    <p>CSV 格式文件，可使用 M$ Office、WPS、记事本打开；文件编码为 UTF-8。</p>
    <h3>3.文件内容为空。</h3>
    <p>腾讯限制查询频率，请稍候再试。</p>
    <h3>4.能抓取更多结果吗？</h3>
    <p>下载源码自行修改即可。</p>
    <h3>5.你会记录我的个人信息及搜索内容吗？</h3>
    <p>不会。</p>
</body>

</html>