<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <title>web自学</title>
</head>
<body>

<div align="left">
    <a href="/">首页</a>
    <a href="/hello" >HELLO WORLD</a> </div>
</div>
<div align="right">
    <a href="/admin" >登录</a>
</div>
<h1 align="center">开始学习Django web 开发</h1>
<hr/>
<div align="left">
    <ul>
        <li>
         <a href="/myapp">开始开发第一个app,看看实现吧！</a>
        </li><br/>
        <li>
            <a href="/question">问卷调查</a>
        </li><br/>
        <li>
            <a href="/weixin">微信</a>
        </li><br/>
        <li>
            <a href ="/myapp/ocr">验证码识别</a>
        </li>
        <br/>
        <li>
            <a href ="/myapp/qqun">QQ群爬虫</a>
        </li>
    </ul>
</div>
</body>
</html>
